<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <ul class="card-list">
        <% categories.forEach(category => { %>
            <li class="card">
                <h2><%= category.category_name %></h2>
            </li>
        <% }); %>
        <!-- <li>Environmental</li>
        <li>Educational</li>
        <li>Community Service</li>
        <li>Health and Wellness</li> -->
    </ul>
</main>

<%- include('partials/footer') %>